.header_layout{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.flex_wrap{
  width: 100%;
}

.logo_layout{
    display: flex;
}

.logo_text{
    color: rgb(54, 189, 238);
}

.menu_layout{
    padding: 10px 0 0px 0;
}

.menu_layout {
    display: flex;
    justify-content: space-between;
  }
  
  .menu, .icon {
    display: flex;
    gap: 10px;
  }
  
  .icon {
    margin-left: auto;
    color: black;
  }

.menu{
    font-size: 15px;
    font-weight: bold;
}
/* 반응형 디자인: 태블릿 화면에서 flex_wrap의 너비를 75%로 설정 */
@media (min-width: 768px) {
  .flex_wrap {
      width: 80%;
  }
}