.header_layout{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.flex_wrap{
  width: 90%;
}

.logo_layout{
    display: flex;
}

.logo_text{
    color: rgb(54, 189, 238);
}

.menu_layout{
    padding: 10px 0 0px 0;
}

.menu_layout {
    display: flex;
    justify-content: space-between;
  }
  
  .menu, .icon {
    display: flex;
    gap: 10px;
  }
  
  .icon {
    margin-left: auto;
    color: black;
  }

.menu{
    font-size: 15px;
    font-weight: bold;
}
